* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-principal;
    background-color: $cor-fundo;
    color: $cor-texto;
    line-height: 1.6;
}

.secao {
    display: none;
}