@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
$font-principal: 'Poppins', sans-serif;

$cor-principal: #d96643;
$cor-fundo: #fdfaf7;
$cor-texto: #444;
$cor-branco: #fff;
$cor-borda: #eee;
$cor-sombra: rgba(0, 0, 0, 0.1);

$border-radius: 10px;